<%= simple_form_for @physician do |form| %>
  <% if physician.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(physician.errors.count, "error") %> prohibited this physician from being saved:</h2>

      <ul>
      <% physician.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row"> 
                 
    <div class="col-md-2">
      <div class="fieldlabels">
        <label>Nome do Médico <abbr title="obrigatório">*</abbr></label>
     <%= form.text_field :name, autocomplete: "nope" ,class: 'form-control' , placeholder: 'Ex: João Souza Cardoso', required: true %>
      </div>
    </div>

    <div class="col-md-2">
      <div class="fieldlabels">
        <label>Tipo de Médico <abbr title="obrigatório">*</abbr></label>
     <%= form.text_field :tipo, autocomplete: "nope" ,class: 'form-control' , placeholder: 'Ex: Dentista', required: true %>
      </div>
    </div>

    <div class="col-md-2">
      <div class="fieldlabels">
        <label>Tipo de Médico <abbr title="obrigatório">*</abbr></label>
     <%= form.text_field :descricao, autocomplete: "nope" ,class: 'form-control' , placeholder: 'Função', required: true %>
      </div>
    </div>

    <div class="col-md-2">
      
  <%= link_to_add_association 'add appointment',form, :appointments,
     'data-association-insertion-node' => "#appointments-patient ol",
    'data-association-insertion-method' => "append", :wrap_object => Proc.
   new {|appointment| appointment.build_patient; appointment }, class:"btn btn-primary"%>
   
   </div>
   <br>
    
 <hr/>

 <fieldset id="appointments-patient">
  <ol>

  </ol>
</fieldset>
  </div>
  

  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>