<%= simple_form_for @physician do |form| %>
  <% if physician.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(physician.errors.count, "error") %> prohibited this physician from being saved:</h2>

      <ul>
      <% physician.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
    
    <%= link_to_add_association 'add appointment', form, :appointments,
    'data-association-insertion-node' => "#appointments-patient ol",
    'data-association-insertion-method' => "append", :wrap_object => Proc.
   new {|appointment| appointment.build_patient; appointment } %>
   
    
 <hr/>

 <fieldset id="appointments-patient">
  <ol>

  </ol>
</fieldset>
  </div>
  

  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
